<app-header></app-header>
<link rel="stylesheet" href="home-page.component.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!--<div class="container-fluid">

  <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:black;" role="navigation">
   
    <a class="nav-link active" href="#"><span id="logo">HappyMart</span></a>
      <a class="nav-link" [routerLink]="['/','about']">About Us</a>
      <a class="nav-link"  [routerLink]="['/','cart']">Cart</a>
      <a class="nav-link" [routerLink]="['/','sign-up']" >SignUp</a>
    <a class="nav-link" [routerLink]="['/','login']" >Login</a>
    
  </nav>
  </div>-->


<div class="container-fluid">
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <img [src]="images[0]" alt="Random first slide">
      <div class="carousel-caption">
        <h3>Welcome to Happymart!</h3>
        <p>Shop from our wide range of products</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img [src]="images[1]" alt="Random second slide">
      <div class="carousel-caption">
        <h3>Wlcome to Happymart!</h3>
        <p>Shop from our wide range of products</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img [src]="images[2]" alt="Random third slide">
      <div class="carousel-caption">
        <h3>Wlcome to Happymart!</h3>
        <p>Shop from our wide range of products</p>
      </div>
    </ng-template>
  </ngb-carousel>

</div>


<br>
<h3 style="text-align: center;">Shop By Category</h3>
<br>


<div class="container">
  <div *ngFor="let cat of categories" class="gallery">
    <a (click)="getProducts(cat.name)">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsH2Rtb11p5DG_GyxJDmrG26Ulnhc5cn3tig&usqp=CAU"
        alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc"><a (click)="getProducts(cat.name)">{{cat.name}}</a></div>
  </div>
</div>