.container{
    margin-top: 10px;
}
.table{
    margin-left: auto;
    margin-right: auto;
}
table, th, td {
   text-align: left;
    border-collapse: collapse;
<<<<<<< HEAD
  }
 .bt{
     margin-left: auto;
     margin-right: auto;
 }
=======
  }
>>>>>>> cad0318905d0202168553a045f6f343dd49e2f5f
