<div class="table-responsive">
    <h2 class="text-center text-primary">All Products</h2>
    <table class="table">
        <tr>
            <th>category</th>
            <th>name</th>
            <th>brand</th>
            <th>description</th>
            <th>image</th>
            <th>price</th>
            <th>quantity</th>
            <th>rating</th>
            
            <th>edit</th>
            <th>Delete</th>
        </tr>
        <tr *ngFor="let prouduct of products">
           
            <td>{{prouduct.category}}</td>
            <td>{{prouduct.name}}</td>
            <td>{{prouduct.Brand}}</td>
            <td>{{prouduct.description}}</td>
            <td>{{prouduct.image}}</td>
            <td>{{prouduct.price}}</td>
            <td>{{prouduct.quantity}}</td>
            <td>{{prouduct.rating}}</td>
            
            <td><a [routerLink]="['/','edit', item.id]" class="btn btn-warning">Edit</a></td>
            <td><button class="btn btn-danger" (click)="deleteProduct(item)">Delete</button></td>
        </tr>
    </table>
