<div class="container">
  <div class="gallery">
    <a target="_blank" href="img_5terre.jpg">
      <img src="https://th.bing.com/th/id/OIP.6X6fU7HG3IgpPxJnM32qfwHaHa?pid=ImgDet&rs=1" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc"><a [routerLink]="['/','cart']">Add to cart</a></div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="img_forest.jpg">
      <img src="https://th.bing.com/th/id/OIP.-EK6Mm3N2VztngNYOOy0bAHaRk?pid=ImgDet&rs=1" alt="Forest" width="600" height="300">
    </a>
    <div class="desc"><a [routerLink]="['/','cart']">Add to cart</a></div>
  </div>




<!--<section>
    <div class="spacer">
      <div class="container">
        <div class="row mt-5">
          <div class="col-lg-9">
            <div class="row shop-listing">
              <div class="col-lg-4" *ngFor="let product of products">
                <div class="card shop-hover border-0">
                  <img [src]="'http://localhost:5000/' + product.image" alt="wrapkit" class="img-fluid" />
                  <div class="card-img-overlay align-items-center">
                    <button class="btn btn-md btn-info" (click)="_addItemToCart(product._id, 1)">Add to Cart</button>
                  </div>
                </div>
                <div class="card border-0">
                  <h6>
                    <a href="#" class="link">{{ product.name }}</a>
                  </h6>
                  <h6 class="subtitle">by Wisdom</h6>
                  <h5 class="font-medium m-b-30">
                    ${{product.price}}
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>-->

