<link rel="stylesheet" href="header.component.css">
<div class="container-fluid">

  <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:black;" role="navigation">
   
    <a class="nav-link active" [routerLink]="['/','home-page']"><span id="logo" >HappyMart</span></a>
      <a class="nav-link" routerLink="/home-page">About Us</a>
      <a class="nav-link" *ngIf="isLoggedIn==true" routerLink="/cart2">Cart</a>
      <a class="nav-link" *ngIf="isLoggedIn==false"[routerLink]="['/','sign-up']" >SignUp</a>
    <li *ngIf="isLoggedIn==false" class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Login</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" [routerLink]="['/','login']"  >User</a>
        <a class="dropdown-item" [routerLink]="['/','admin-login']"  >Admin</a>
      </div>
    </li>
      <a class="nav-link" *ngIf="isLoggedIn==true" [routerLink]="['']" >My Profile</a>
      <a class="nav-link" *ngIf="isLoggedIn==true" [routerLink]="['/','order']" >Logout</a>
  </nav>
  </div>