/* input.ng-invalid{
    box-shadow: 0 0 3px red;
}

input.ng-valid{
    box-shadow: 0 0 3px green;
} */
.register{
    color: rgb(0, 0, 0);
}
h2{
    text-align: center;
    color: black;
    font-weight: 600;
}
.form-control{
background-color: transparent;
border: none;
border-bottom: 2px solid rgb(20, 2, 2);
border-radius: 0px  !important;
padding: 20px;
}
.reg{
    background-color: rgba(219, 209, 209, 0.5) ;
    border-radius: 10px;
    border: 2px solid white;
}
