<link rel="stylesheet" href="footer.component.css">
<div class="footer">
   <div class="row">
       <div class="col-sm-4">
        <h3>Get to know us</h3>
        <li>
          <a href="#!">Careers</a>
        </li>
        <li>
          <a href="#!">Press Releses</a>
        </li>
        <li>
          <a href="#!">HappyMart Cares</a>
        </li>
       </div>
       <div class="col-sm-4">
        <h5 class="text-uppercase">Connect with us</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Facebook</a>
          </li>
          <li>
            <a href="#!">Instagram</a>
          </li>
          <li>
            <a href="#!">Twitter</a>
          </li>
          
        </ul> 
    </div>
    <div class="col-sm-4">
        <h5 class="text-uppercase">Let us help you</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Help Centres</a>
          </li>
          <li>
            <a href="#!">Covid care</a>
          </li>
          <li>
            <a href="#!">Help</a>
          </li>
          
        </ul>    
    </div>
   </div>
</div>