<app-header></app-header>
<div class="container">
    
<h1>Welcome to happyMart</h1>
<p>Jeff Bezos founded happyMart from his garage in Bellevue, Washington, on July 5, 1994. It started as an online marketplace for books but expanded to sell electronics, software, video games, apparel, furniture, food, toys, and jewelry. In 2015, Amazon surpassed Walmart as the most valuable retailer in the United States by market capitalization.[16] In 2017, happyMart acquired Whole Foods Market for US$13.4 billion, which substantially increased its footprint as a physical retailer.[17] In 2018, its two-day delivery service, happyMartPrime, surpassed 100 million subscribers worldwide.</p>
</div>
