<app-header></app-header>
<div class="container">

    <div *ngFor="let item of orders" class="">
        <!-- <div class="" *ngIf="item.category == 'shoes'"> -->

            <div class="card">
                <div>

                    <table class="table table-bordered table-responsive" style="display: inline;margin-left: 5px;">
                        <tr>
                            <td>
                                <img src="{{item.product.image}}" width="200px;" height="250px;" />
                            </td>
                        </tr>
                        <tr>
                            <td class="name">{{item.product.name}}</td>
                        </tr>
                        <tr>
                            <td class="price">Price:{{item.product.price | currency:'INR':true }}</td>
                        </tr>
                        <tr>
                            <td class="description">{{item.product.description|slice:0:50}}</td>
                        </tr>
                        <td><button class="btn btn-danger" (click)="deleteProduct(item)">Delete</button></td>
                    </table>
                </div>




            <!-- </div> -->
        </div>


    </div>
    <td>
        <button type="button" class="btn btn-outline-success" [routerLink]="['/','invoice']"><b>place order</b></button>
    </td>
</div>