*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}
.container{
  position: relative;
  /* width: 1150px; */
  padding: 0px;
  margin: 10;
   display: flex; 
  /* justify-content: center; */
  /* align-items: center; */
  flex-wrap: wrap;
}

.card{
  border: 1px solid;
  position: relative;
   width:250px; 
  /* height: 420px; */
  margin: 16px;
  border-radius: 20px;
 overflow: hidden; 
  box-shadow: 0 15px 25px rgba(128, 22, 22, 0);
  transition: 0.5s;
  /* align-items: center; */
  
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0,0,0,0.25);

}
.col-sm-4 col-md-5{
display: flex;
}

.btn btn-outline-success {
  transition-duration: 0.4s;
 
}
.btn btn-outline-success:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
.table {
align-items: center;
text-align: center;

}
.name,.price,.description{
font-weight: bold;

font-style: italic;
}
