<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<div class="container">
  <div class="row g-0">
    <div class="col-sm-4 col-md-5">
      <img src="https://th.bing.com/th/id/OIP.wZT6fWXmeI6l-fUzAZcR1gHaHa?pid=ImgDet&rs=1" alt="Cinque Terre" width="300"
        height="250">
    </div>
    <div *ngFor="let item of products"  class="col-8 col-md-7">
      <div *ngIf="item.id == 2">
      <h5>{{item.brand}}</h5>
      <p style="font-weight: bold">Price: {{item.price|  currency:'INR'}} </p>
      <p style="text-align: left;">{{item.description}}</p>
      
      <br>
      <button type="button" class="btn btn-primary" [routerLink]="['/','cart']">Add to cart</button>
    </div>
    </div>
  </div>

</div>

<div class="container">
  <div class="row g-0">
    <div class="col-sm-4 col-md-5">
      <img src="https://th.bing.com/th/id/OIP.xt7E2w15P5KWyuMjVJdqYAHaKZ?pid=ImgDet&rs=1" alt="Cinque Terre" width="300"
        height="250">
    </div>
    <div *ngFor="let item of products" class="col-8 col-md-7" >
      <div *ngIf="item.id == 3">
        <h5>{{item.brand}}</h5>
        <p style="font-weight: bold">Price: {{item.price|  currency:'INR'}} </p>
        <p style="text-align: left;">{{item.description}}</p>
        
        <br>
        <button type="button" class="btn btn-primary" [routerLink]="['/','cart']">Add to cart</button>
      </div>
      </div>

</div>
<div class="container">
  <div class="row g-0">
    <div class="col-sm-4 col-md-5">
      <img src="https://th.bing.com/th/id/OIP.hvNrJgQHr6QdGqeg4Xi7XwHaKf?pid=ImgDet&rs=1" alt="Cinque Terre" width="300"
        height="250">
    </div>
    <div *ngFor="let item of products" class="col-8 col-md-7" >
      <div *ngIf="item.id == 4">
        <h5>{{item.brand}}</h5>
        <p style="font-weight: bold">Price: {{item.price |  currency:'INR'}} </p>
        <p style="text-align: left;">{{item.description}}</p>
        
        <br>
        <button type="button" class="btn btn-primary" [routerLink]="['/','cart']">Add to cart</button>
      </div>
      </div>

</div>