<app-header></app-header>
<div class="container">
 
  <div *ngFor="let item of products" class="">

    <div class="card">
      <div>

        <table class="table table-bordered table-responsive" style="display: inline;margin-left: 5px;">
          <tr>
            <td>
              <img src="{{item.image}}" width="200px;" height="250px;" />
            </td>
          </tr>
          <tr>
            <td class="name">{{item.name}}</td>
          </tr>
          <tr>
            <td class="price">Price:{{item.price | currency:'INR':true }}</td>
          </tr>
          <tr>
            <td class="description">{{item.description|slice:0:50}}</td>
          </tr>
          <tr>
            <td>
              <button type="button" class="btn btn-outline-success" (click)="OnAddCart(item)"><b>Add to
                  cart</b></button>
                 
            </td>
          </tr>
        </table>
      </div>
    </div> 
  </div>
  <button type="button" class="btn btn-outline-success" [routerLink]="['/','cart2']"><b>view cart</b></button>
</div>
