<!-- <div class="container">
    <table class="table table-bordered">
        
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
          
          </tr>
          <tr>
            <td scope="row">3</th>
            <td rowspan="2">Larry the Bird</td>
          </tr>
        </tbody>
      </table>
</div> -->