<app-header></app-header>
<div id="collapseExample">
  <div class="card">
    <div class="card-body">
    <div *ngFor="let item of products" class="col-sm-4 col-md-5">
       <div class="col-sm-4 col-md-5" *ngIf="item.category == 'shoes'">
        <div>
          <table class="table table-bordered table-responsive" style="display: inline;margin-left: 5px;">
            <tr>
              <td>
                 <img src="{{item.image}}" width="180px;" height="300px;"/>
              </td>
            </tr>
            <tr>
              <td>{{item.name}}</td>
            </tr>
            <tr>
              <td>Price:{{item.price | currency:'INR':true }}</td>
            </tr>
            <tr>
               <td>{{item.description|slice:0:50}}</td>
             </tr>
             <tr>
                 <td>
                  <button type="button"   class="btn btn-outline-success" (click)="OnAddCart(prod)"><b>Add to cart</b></button>

                </td>
               </tr>
          </table>
    </div>
  </div>
</div>
