
<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <h3>Admin-login</h3>
        <form >
          
            <div class="form-group">
              <label for="loginUsername">Email address</label>
              <input  type="email" [(ngModel)]="username" name="username"  required class="form-control" id="loginUsername" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
              <label for="loginPassword">Password</label>
              <input type="password"  [(ngModel)]="password"type="password" name="password" required class="form-control" id="loginPassword">
              <small class="text-danger">{{msg}}</small>
            </div>
            <div class="form-group form-check">
              <a [routerLink]="['/reset-password']">Forget password?</a>
            </div>
            <button type="submit" (click)="login()" class="btn btn-primary">Login</button>
          </form>
    </div>
</div>