<h1 class="text-center">Add new products</h1>

<div class="container">
    <form (ngSubmit)="create()" [formGroup]="productForm" >
       

    
        
         
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Category</label>
            <div class="col-sm-10">
              <input formControlName="category" class="form-control" />
              <small *ngIf="productForm.get('category').dirty && productForm.get('category').invalid" class="form-text text-danger">category is required</small>
            </div>
          </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input formControlName="name" class="form-control" />
              <small *ngIf="productForm.get('name').dirty && productForm.get('name').invalid" class="form-text text-danger">name is required</small>
            </div>
          </div>
  
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
              <input formControlName="description" class="form-control" />
              <small *ngIf="productForm.get('description').dirty && productForm.get('description').invalid" class="form-text text-danger">description is required</small>
            </div>
          </div>
  
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Price</label>
            <div class="col-sm-10">
              <input formControlName="price" class="form-control" />
              <small *ngIf="productForm.get('price').dirty && productForm.get('price').invalid" class="form-text text-danger">price is required</small>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Rating</label>
            <div class="col-sm-10">
              <input formControlName="rating" class="form-control" />
              <small *ngIf="productForm.get('rating').dirty && productForm.get('rating').invalid" class="form-text text-danger">rating is required</small>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-5 offset-sm-7">
                <button type="submit" [disabled]="productForm.invalid" class="btn btn-primary btn-block">Add Product</button>
            </div>
        </div>
      </form>
</div>
  
         
  
          
